<!DOCTYPE HTML>

<html>

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<title>The ancient capital of nine dynasties - Luoyang</title>
	
	<meta content="The ancient capital of nine dynasties - Luoyang" name="keywords" />
	
	<meta content="The ancient capital of nine dynasties - Luoyang" name="description" />
	


<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>Hello, welcome to Luoyang!</p>

        <!-- <div class="contact"><a href="index.html">设为首页</a> <a href="index.html">加入收藏</a></div> -->

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html"><img src="../images/logo.jpg" width="180" height="70" alt="" title="The ancient capital of nine dynasties - Luoyang"></a>

       		<ul>

            	<li><a href="../index.html">website homepage</a></li>       

                <li><a href="historic.html">history</a></li>     

                <!-- <li><a href="template/beautiful.html">风景</a></li>         -->

                <li><a href="tourism.html">tourism</a></li>      

                <li><a href="delicacy.html">delicacy</a></li>      

                <!-- <li><a href="template/new.html">动态</a></li>      

                <li><a href="template/leave.html">留言</a></li>   
				
				 <li><a href="template/about.html">团队介绍</a></li>      

                <li><a href="template/connection.html">联系我们</a></li> -->

     		</ul>  

    </div>       

</div>
<!--header结束--> 
<div class="container"> 		

		<!--banner开始-->

		<div class="banner_erji">

        	<img src="../images/banner_erji.jpg" width="1000" height="250" alt="" title="">

        </div>

		<!--banner结束--> 

		

		<!--content开始-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>talk about Luoyang</h1>

                	<ul class="ul_left">

                    

                    

        <li><h3><a href="introduce.html">Brief introduction of Luoyang</a></h3>

</li>

        

        <li><h3><a href="Culture.html">Luoyang culture</a></h3>

</li>

        

        <li><h3><a href="historic.html">History of Luoyang</a></h3>
		
</li>

         	</ul>

                 
                </div>

                <!-- <div class="left_lx">

                         <p>联系人：...</p>

                      <p>班级：.....</p>

                      <p>QQ：951XXX95</p>

                      <p>网址：XXXn.com</p>

                      <p>邮编：530001</p>

                </div> -->

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">home page</a> > History of Luoyang</div>

                

            	<div class="con_news">

                	<p class="p_tit2">

                    	<span>History of Luoyang</span>

                        Published by: Administrator Date: 2023-4-20


                  </p>

                	<div class="con">

               		   <p>

	<p>

		&nbsp;&nbsp;&nbsp;&nbsp;Luoyang is located in the west of Henan Province, is an ancient city with more than three thousand years of history, has the Eastern Zhou, the Eastern Han, Cao Wei, Western Jin, Northern Wei (after Xiaowen Emperor), Sui (Yang Emperor), Wu Zhou, Later Liang, later Tang and other nine dynasties in the capital, as long as 934 years, so called "nine ancient capital", is one of the birthplace of the Chinese nation's history and culture. One of the six ancient capitals of our country is a good place with green mountains and abundant resources.
<br />

&nbsp;&nbsp;&nbsp;&nbsp;Luoyang is located in our country north and south east traffic important land traffic in four directions. There are 43 conservation units with a collection of more than 400,000 cultural relics.
<br />

&nbsp;&nbsp;&nbsp;&nbsp;Five thousand or six thousand years ago, our ancestors settled on this land.
<br />

&nbsp;&nbsp;&nbsp;&nbsp;，In today's Luoyang city has found dozens of Neolithic sites located in the western suburbs of Luoyang Wangwan site and southern suburbs short Li site. Neolithic remains are very rich. Erlitou Site in East Yanshi County of Luoyang City is an important Xia-Shang site.
 <br />

&nbsp;&nbsp;&nbsp;&nbsp;From the Eastern Zhou Dynasty, nine dynasties built their capitals here, including the Eastern Han Dynasty, Cao Wei, Ben Jin, Northern Wei (after Emperor Xiaowen), Sui (Emperor Yang), Tang (Empress Wu) and later Liang. So it is called "the ancient capital of nine dynasties".
 
	</p>          </div>

              </div>

              

               

               

            </div>

        </div>

		<!--content结束--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="../index.html">homepage</a> | <a href="historic.html">history</a> |  <a href="tourism.html">tourism</a> | <a href="delicacy.html">delicacy</a></p>


</div>



<!--footer 结束--> 


</body>

</html>

