<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>The ancient capital of nine dynasties - Luoyang</title>

<meta content="The ancient capital of nine dynasties - Luoyang" name="keywords" />

<meta content="The ancient capital of nine dynasties - Luoyang" name="description" />


<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>Hello, welcome to Luoyang!</p>

        <!-- <div class="contact"><a href="index.html">设为首页</a> <a href="index.html">加入收藏</a></div> -->

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html"><img src="../images/logo.jpg" width="180" height="70" alt="" title="The ancient capital of nine dynasties - Luoyang"></a>

       		<ul>

            	<li><a href="../index.html">website homepage</a></li>       

                <li><a href="historic.html">history</a></li>     

                <!-- <li><a href="template/beautiful.html">风景</a></li>         -->

                <li><a href="tourism.html">tourism</a></li>      

                <li><a href="delicacy.html">delicacy</a></li>      

                <!-- <li><a href="template/new.html">动态</a></li>      

                <li><a href="template/leave.html">留言</a></li>   
				
				 <li><a href="template/about.html">团队介绍</a></li>      

                <li><a href="template/connection.html">联系我们</a></li> -->

     		</ul>  

    </div>       

</div>
<!--header结束--> 

<div class="container"> 		

		<!--banner-->

		<div class="banner_erji">

        	<img src="../images/banner_erji2.png" width="1000" height="230" alt="" title="">        </div>

		<!--banner end--> 

		

		<!--content-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<!-- <div class="leftnav">

                	<h1>必玩景点</h1>

                	<ul class="ul_left">

                    

                    

        <li><h3><a href="tourism.html">线路介绍</a></h3>

</li>

        

      
         	</ul>

                 
                </div> -->

                <!-- <div class="left_lx">

               <p>联系人：....</p>

                      <p>班级：.....</p>

                      <p>QQ：951XXX95</p>

                      <p>网址：XXXn.com</p>

                      <p>邮编：530001</p>
                </div> -->

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">homepage</a> > tourist attractions</div>

            	<ul class="ul_zj clearfix">
 

           	<li>

                    	<img src="../images/pic_4.jpg" width="220" height="140"><span>Tianchi Mountain</span>                  </li>

       

        

           	<li>

                    	<img src="../images/pic_5.jpg" width="220" height="140"><span>White Horse Temple</span>                  </li>

       

        

           	<li>

                    	<img src="../images/pic_6.jpg" width="220" height="140"><span>White Cloud Mountain</span>                  </li>

       

        

           	<li>

                    	<img src="../images/pic_7.jpg" width="220" height="140"><span>chongdugou</span>                </li>

       

        

           	<li>

                    	<img src="../images/pic_8.jpg" width="220" height="140"><span>Longmen Grottoes</span>                  </li>

       

        

           	<li>

                    	<img src="../images/pic_9.jpg" width="220" height="140"><span>jiguan cave</span>                  </li>


           	<li>

                    	<img src="../images/pic_10.jpg" width="220" height="140"><span>Longtan Grand Canyon</span>                  </li>


           	



        

                </ul>

                <div class="paging"></div>

            </div>

        </div>

		<!--content end--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="../index.html">homepage</a> | <a href="historic.html">history</a> |  <a href="tourism.html">tourism</a> | <a href="delicacy.html">delicacy</a></p>


</div>



<!--footer 结束--> 
</body>

</html>

